<div class="container">
  <fieldset id="sign-up-field">
    <div id="sign-up-title"></div>
        <form class="sign-up-input" name="signupForm" ng-submit="signupCtrl.signup(signupForm)" novalidate>

          <div class="form-group" ng-class="{'has-error': signupForm.firstName.$error.required && (!signupForm.firstName.$pristine || signupForm.$submitted)}">
                <label for="email">First Name *</label>
                <input class="form-control" type="text" name="firstName" placeholder="Please enter your first name" ng-model="signupCtrl.user.firstName" required />
                <span ng-show="signupForm.firstName.$error.required && (!signupForm.firstName.$pristine || signupForm.$submitted)" class="help-block"></span>
          </div>

          <div class="form-group" ng-class="{'has-error': signupForm.lastName.$error.required && (!signupForm.lastName.$pristine || signupForm.$submitted)}">
            <label for="email">Last Name *</label>
            <input class="form-control" type="text" name="lastName" placeholder="Please enter your last name" ng-model="signupCtrl.user.lastName" required />
            <span ng-show="signupForm.lastName.$error.required && (!signupForm.lastName.$pristine || signupForm.$submitted)" class="help-block"></span>
          </div>

          <div class="form-group" ng-class="{'has-error': (signupForm.email.$error.required && (!signupForm.email.$pristine || signupForm.$submitted)) || signupForm.email.$error.email }">
            <label for="email">Email *</label>
            <input class="form-control" type="email" name="email" placeholder="Please enter your Email" ng-model="signupCtrl.user.email" required />
            <span ng-show="signupForm.email.$error.required && (!signupForm.email.$pristine || signupForm.$submitted)" class="help-block"></span>
            <span ng-show="signupForm.email.$error.email" class="help-block"></span>
          </div>

          <div class="form-group" ng-class="{'has-error': (signupForm.phone.$error.required && (!signupForm.phone.$pristine || signupForm.$submitted)) || (signupForm.phone.$error.minlength || signupForm.phone.$error.maxlength)}">
            <label for="phone">Phone Number *</label>
            <input class="form-control" type="number" name="phone" placeholder="Phone ###-###-####" ng-model="signupCtrl.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})" required />
            <span ng-show="signupForm.phone.$error.required && (!signupForm.phone.$pristine || signupForm.$submitted)" class="help-block"></span>
            <span ng-show="signupForm.phone.$error.minlength || signupForm.phone.$error.maxlength" class="help-block"></span>
          </div>

          <div class="form-group" ng-class="{'has-error': signupCtrl.showError}">
            <label for="favoriteDish">Favorite Dish</label>
            <input class="form-control" type="text" name="favoriteDish" placeholder="Please enter your your favourite dish menu numbe eg. L1" ng-model="signupCtrl.user.favoriteDish"/>
            <span ng-show="signupCtrl.showError" class="help-block">That dish doesn't exist.</span>
          </div>

          <input type="submit" class="btn btn-default" value="Signup"/>

          <span class="text-success" ng-show="signupCtrl.showMessage">You have signed up.</span>

        </form>
  </fieldset>
</div>
